html(lang='en')
  head

    title #{title}
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
       
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
         
    link(rel='stylesheet', href='./estilos/news.css')  
    
    link(rel='shortcut icon', href='')
    
    
  body
    .wrapper
      div
        h1 #{titulo}
               
              
      nav.main-nav
        ul
          li
            a(href='/') Home
                           
          li
            a(href='economy') Economia
                           
          li
            a(href='agriculture') Agricultura
                           
          li
            a(href='technology') Tecnología
               
      section.info
        img(src='http://farm8.staticflickr.com/7570/15750997718_3314a669e0_b.jpg', alt='')
                     
        div
          h2
             |Jagd City ubicado en Colombia, norte de Bogotá, el 60% de la población es joven. No es muy
             |turistico.
             |grandes extensiones de tierra para la agricultura, es muy verde.
               
      br
               
      section.info
        div
          h2
             |Jagd City y su clima es bastante lluvioso en algunas temporadas del año.
             |A travéz de los años jagd City ha perdido parte de su territorio por efectos de independencia de
             |algunas regions, pero actualmente se a fortalesido.
                     
        img(src='./img/S6000614.JPG', alt='')
               
      br
               
      section.info
        img(src='./img/15938271165_531d297874_b.jpg', alt='')
                     
        div
          h2
             |Jagd City y su influenciencia en el sector es limitada. su fuente de energías son externas como gas,
             |energía electrica y combustibles
               
      footer
        p Jagd City &copy; 2019, Jagd Aveniue 00-00.