html
    head
        title #{title}
        meta(charset='utf8')
        link(rel='stylesheet', href='./estilos/estilos.css')
        body

           header
              h1 Jagd City News
           div.princ
              ul
                li
                    a(href="/") Home
                li
                    a(href="/economy") Economía
                li
                    a(href="agriculture") Agricultura
                li
                    a(href="/technology") Tecnología 
            main
                div.contenedor This is Jade
                img(src="./img/quitocasacultura.jpg", alt="")